body {
  overflow: hidden;
}

.dark {
  background: #000;
  color: #fff;
  // font-family: $secondary-font;
  @include font-smooth();
  a {
    color: #fff;
    border-bottom-color: #555;
    &:hover {
      border-color: #fff;
    }
  }
  hr {
  	border-color: #222;
  }
	h4 {
		letter-spacing: .015em;
	}
	p {
		letter-spacing: .015em;
	}
  svg {
  	* {
  		fill: #fff;
  	}
  }
}

.cc {
  position: fixed; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.section-title {
  margin-bottom: .5em;
  opacity: .5;
  @include respond($md) {
    opacity: 1;
  }
}