.project.main {
	clip: rect(0, auto, auto, 0);
}

.project-images {
	*[class^="col"] {
		margin-bottom: $margin;
	}

	.col-6 {
		@include respond($md) {
			&.no-gutter {
				padding-left: 0 !important;
		    padding-right: 0 !important;
		    margin-left: -3px !important;
		    margin-right: -3px !important;
		    width: calc(50% - (#{$gutter}/2 - 1px)) !important;
		    .web-layout,
		    .mobile {
		    	padding: 12% 6% 12% 12%;
		    }
		    &.on-right {
		    	.web-layout,
		    	.mobile {
			    	padding: 12% 12% 12% 6%;
			    }	
		    }
			}
		}
	}

	.col-4 {
		@include respond($md) {
			&.no-gutter {
				padding-left: 0 !important;
		    padding-right: 0 !important;
		    margin-left: -3px !important;
		    margin-right: -3px !important;
		    width: calc(33.333% - #{$gutter / 3}) !important;
		    .web-layout,
		    .mobile {
		    	padding: 18% 6% 18% 18%;
		    }
		    &.on-right {
		    	.web-layout,
		    	.mobile {
			    	padding: 18% 18% 18% 6%;
			    }	
		    }
		    &.in-middle {
		    	.web-layout,
		    	.mobile {
			    	padding: 18% 12%;
			    }	
		    }
			}
		}
	}

	.image-block {
		&.web-layout,
		&.mobile {
			background: #ccc;
			padding: 7%;
			@include respond($md) {
				padding: 12%;
			}
			img, video {
				border-radius: 2px;
			}
		}
		&.mobile {
			img, video {
				max-height: 76vh;
			}
		}
		img,
		video {
			display: block;
			margin: 0 auto;
		}
	}

	.logo {
		img {
			height: 80vh;
			max-height: 800px;
		}
	}

}