a { 
  padding-bottom: .15em;
  border-bottom: 1px solid $hr-color;
  &:hover,
  &:focus { 
    border-color: $text-color;
  }
}

h1 {
  font-size: 1.25em;
  line-height: $base-line-height;
  margin-bottom: .5em;
}

.lg p,
p.lg,
.large-text {
  font-family: $secondary-font;
  font-size: 1.25em;
  line-height: $base-line-height;
  margin-bottom: .5em;
}

p {
  font-size: 1em;
  line-height: $base-line-height;
  + p {
    margin-top: 1em;
  }
}

hr {
  &.spaced {
    margin: 1rem 0;
  }
  &.spaced-top {
    margin: 1rem 0 0;
  }
  &.spaced-bottom {
    margin: 0 0 1rem;
  }
}