@font-face {
  font-family: 'Basis';
  src:  url('../fonts/basis_grotesque_regular.woff') format('woff'),
  			url('../fonts/basis_grotesque_regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Basis Off White';
  src:  url('../fonts/basis_grotesque_off_white.woff') format('woff'),
  			url('../fonts/basis_grotesque_off_white.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Basis';
  src:  url('../fonts/basis_grotesque_bold.woff') format('woff'),
        url('../fonts/basis_grotesque_bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}